/* RESET CSS */
body {
    margin: 0;
    padding: 0;
}

#div-workspace {
    position: relative;
}

:root {
    --font-item-menu: "Alumni Sans";
    --font-descricao: "Alegreya Sans";
    --color-branco-default: #ffffff;
    --primary-100:#6c35de;
    --primary-200:#a364ff;
    --primary-300:#ffc7ff;
    --accent-100:#cb80ff;
    --accent-200:#373737;
    --text-100:#ffffff;
    --text-200:#e0e0e0;
    --bg-100:#241b35;
    --bg-200:#342a45;
    --bg-300:#4d425f;
}

/* SCROLLBAR CUSTOM */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--color-branco-default);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-300);
}